body {
    background-color: #2b3242;
}
.instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #c9c9c9;
}
.game-space {
    display: flex;
    justify-content: center;
}
.container {
    width: 500px;
    align-content: center;
}
.flag {
    color: #c9c9c9;
}
.above-grid {
    width: 500;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 80px;
}
.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #2b3242;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
div {
    font-size: 25px;
    text-align: center;
}
.valid {
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-radius: 5px;
    background: radial-gradient(#80d5fd, #6aa3e6);
    border-color: #2b3242;
    box-sizing: border-box;
}
.checked {
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-radius: 5px;
    background: radial-gradient(#fff, #c2c3c5);
    border-color: #2b3242;
    box-sizing: border-box;
} 
.bomb {
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-radius: 5px;
    border-color: #2b3242;
    background: radial-gradient(#80d5fd, #6aa3e6);
    box-sizing: border-box;
} 
.one {
    color: #4199d3;
} 
.two {
    color: #1dc038;
}
.three {
    color: #c420a0;
}  
.four {
    color: #131581;
}
.five {
    color: #b61313;
}
.six {
    color: #083508;
}
#result {
    color: #c9c9c9;
}
.button {
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
    border-radius: 16px;
    background-color: #4199d3;
    color: #c9c9c9;
    border-color: #000000;
}