body {
    background-color: #2b3242;
}

.title {
    color: #c9c9c9;
}

.instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #c9c9c9;
}

.game-space {
    display: flex;
    justify-content: center;
}

.container {
    width: 500px;
    align-content: center;
}
  
.flag {
    color: #c9c9c9;
}

.above-grid {
    width: 500;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 80px;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #4199d3;
    margin-left: 50px;
    margin-top: 20px;
    border: 3px solid #2b3242;
    margin-bottom: 10px;
}
  
div {
    font-size: 25px;
    text-align: center;
}

.valid {
    height: 40px;
    width: 40px;
    border: 2px solid;
    background-color: #4199d3;
    border-color: #2b3242;
    box-sizing: border-box;
}
  
.checked {
    height: 40px;
    width: 40px;
    border: 2px solid;
    background-color: #c9c9c9;
    border-color: #2b3242;
    box-sizing: border-box;
}
  
.bomb {
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-color: #2b3242;
    background-color: #4199d3;
    box-sizing: border-box;
}
  
.one {
    color: #3e633e;
}
  
.two {
    color: #3e633e;
}
  
.three {
    color: #3e633e;
}
  
.four{
    color: #3e633e;
}
  
#result {
    color: #c9c9c9;
}

.button {
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
    border-radius: 16px;
    background-color: #4199d3;
    color: #c9c9c9;
    border-color: #000000;
}